@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	font-family: 'Indie Flower', cursive !important;
	background: #fbd67e; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

::selection {
	background: transparent;
}
h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
}

.color1{color:#1BBC9B; transform: rotate(-5deg);}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B; transform: rotate(-5deg);/*TALL POPPY*/}
.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.8);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 250px;
	max-height: 400px;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 20px;
	z-index: -1;
	margin-top: 35px;
}

.card .details p {
	font-size: 15px;
	line-height: 21px;
	transform: rotate(-10deg);
	padding: 0 0 0 10px;
	margin-top: 40px;
}

.card .details h4 {
	text-align: center;
	margin-top: 10px;
}

.text-left-align{
	margin-left: 0px;
	text-align: left;
}

.text-right {
	
	text-align: right;
	margin-right: 10px;
}

.front-img{
	border-radius: 2%;
}
.hover-txt{
	font-family: 'Oswald', sans-serif;
	position: absolute;
	display: inline-flex;
	font-weight: 100;
	margin-top: 55vh;
	font-size: 2em;
	right: 200px;
	color: #333;
	text-shadow: 4px 6px 6px rgba(0,0,0,0.17);
  }
  .hover-txt p{
	  right:200px;
  }
.button {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    flex: 1 1 auto;
    margin-top: 38vh;
    color: #333;
    right: 200px;
    padding: 30px;
    border: 3px solid #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    overflow: hidden;
    text-shadow: 4px 6px 6px rgba(0,0,0,0.17);
    transition: 0.3s;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 2s;
}
.button:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}
.button:nth-of-type(5):after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
}
.button:hover {
    cursor: pointer;
    background: #f7f7f7;
    color: #000;
    text-shadow: none;
    
}
.button:hover:after {
    width: 100%;
    left: 0;
}
.button:hover:nth-of-type(5) {
    color: #0f0f0f;
}
.button:hover:nth-of-type(5):after {
    left: -10%;
    width: 120%;
}
@keyframes simple{
	from{
		opacity: 0;
		transform: rotateX(-10deg) translate(-50%,-50%) perspective(px);
	}
	to{
		opacity: 1;
		transform: rotateX(0) translate(-50%,-50%) perspective(2000px);
	}
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-left {
	0% {
	  -webkit-transform: translateX(-50%);
			  transform: translateX(-50%);
	  opacity: 0;
	}
	100% {
		transform: translateX(0%) translateY(50%) perspective(2000px);
	  opacity: 1;
	}
  }
  
  

@-webkit-keyframes jello-horizontal {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  @keyframes jello-horizontal {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  
  a{
	  text-decoration: none;
	  color: inherit;
  }

 